.maincontainer {
    background-color: #212731;
    display: flex;
    justify-content: center;
    padding-bottom: 15%;
}

.innercontainer {
    width: 65%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 50px;
}

.Elements {
    width: 50%;
    color: #D1D6DA;
    padding-top: 5px;
}

.innerwraper {
    display: flex;
    width: 66.66%;
}

.Elements p {
    font-family: Inter;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color:#B6BDC4 ;
    padding-top: 10px;
}

.Elements .title {
    font-size: 16px;
    line-height: 24px;
    color: white;
}

.thirdpart {
    width: 30%;
    color: #D1D6DA;
    display: flex;
    gap: 7px;
    padding-top: 7%;
    align-items: baseline;
}

.thirdpart p {
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

@media screen and (max-width: 1024px) {
          
    .innercontainer {
        width: 80%;
    }
}

@media screen and (max-width: 518px) {

    .innercontainer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 80% ;
    }

    .Elements {
        width: auto;
    }

    .innerwraper {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    .thirdpart {
        width: 65%;
        display: flex;
        justify-content: center;
    }
}